* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p {
  margin: 0;
  color: #222222;
  line-height: 1.4; }

body,
html {
  height: 100%; }

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #f6f6f6;
  overflow-y: scroll;
  overflow-x: hidden; }

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  flex-shrink: 0; }
  .header .header-links a {
    font-size: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    padding: .4rem 0rem; }
  .header .navbar-nav .nav-item .nav-link {
    font-family: 'Maven Pro', sans-serif !important; }

.main {
  flex: 1 0 auto; }
  .main .post-about p {
    word-break: break-word; }
  .main .content-side .site-sliders .owl-main,
  .main .content-side .site-sliders .owl-right-top,
  .main .content-side .site-sliders .owl-right-bottom {
    position: relative;
    display: flex;
    align-items: center; }
    .main .content-side .site-sliders .owl-main .slider-item .slider-caption,
    .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption,
    .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 20px;
      text-align: left;
      z-index: 2; }
      .main .content-side .site-sliders .owl-main .slider-item .slider-caption .slider-time,
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-time,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-time {
        color: #eeeeee;
        font-size: 0.9rem;
        font-weight: 600; }
      .main .content-side .site-sliders .owl-main .slider-item .slider-caption .slider-title,
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-title,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-title {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        z-index: 3; }
        .main .content-side .site-sliders .owl-main .slider-item .slider-caption .slider-title p,
        .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-title p,
        .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-title p {
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          margin: 0;
          padding: 0;
          line-height: 1.2rem; }
      .main .content-side .site-sliders .owl-main .slider-item .slider-caption .caption-link,
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .caption-link,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .caption-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        top: 0;
        left: 0; }
    .main .content-side .site-sliders .owl-main .slider-item::after,
    .main .content-side .site-sliders .owl-right-top .slider-item::after,
    .main .content-side .site-sliders .owl-right-bottom .slider-item::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, #32325d 10%, rgba(20, 20, 10, 0) 65%);
      z-index: 1; }
  .main .content-side .site-partners .site-partners-link {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
  .main .content-side .post-title h2 {
    word-break: break-word; }
    .main .content-side .post-title h2 p {
      font-size: 1.2rem;
      font-weight: 600;
      word-break: break-word; }
  .main .content-side .page-name {
    font-size: 1.2rem; }
  .main .right-side .owl-elections .slider-item .slider-caption {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: left;
    z-index: 2; }
    .main .right-side .owl-elections .slider-item .slider-caption .slider-time {
      font-size: 0.7rem;
      font-weight: 500; }
    .main .right-side .owl-elections .slider-item .slider-caption .slider-title {
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
      z-index: 3; }
      .main .right-side .owl-elections .slider-item .slider-caption .slider-title p {
        color: #fff;
        font-size: 1.76rem;
        font-weight: 700;
        margin: 0;
        padding: 0; }
    .main .right-side .owl-elections .slider-item .slider-caption .caption-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0; }
  .main .right-side .owl-elections .slider-item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #32325d 0%, rgba(10, 10, 10, 0) 25%);
    z-index: 1; }
  .main .right-side .owl-elections .owl-dots {
    position: absolute;
    right: 0;
    top: 0; }
    .main .right-side .owl-elections .owl-dots button {
      outline: none; }
      .main .right-side .owl-elections .owl-dots button span {
        background-color: #32325d !important; }
  .main .right-side .latest-posts .latest-post-list {
    height: 65rem;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow: hidden scroll; }
  .main .right-side .latest-posts li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
    color: black; }
    .main .right-side .latest-posts li:last-child {
      border-bottom: none; }
    .main .right-side .latest-posts li .latest-title {
      color: black;
      font-size: 12px; }
      .main .right-side .latest-posts li .latest-title p {
        font-size: 0.9rem;
        font-weight: normal; }
  .main .post-block-title {
    font-weight: 500;
    font-size: 1.2rem; }

.footer {
  flex-shrink: 0; }

img {
  width: 100%;
  display: block; }

.site-logo {
  width: auto; }

@media (min-width: 768px) {
  img {
    display: block;
    width: 100%; }
  .site-container {
    max-width: 1300px;
    margin: auto; }
  .header .header-links a {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase; }
  .header .site-logo {
    width: 30%;
    height: auto; }
  .header .site-nav-item .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 0.4rem;
    font-weight: 400;
    text-transform: uppercase; }
  .header .site-nav-item .pc-link {
    width: 160px;
    text-align: center; }
  .main .content-side .site-sliders .owl-main,
  .main .content-side .site-sliders .owl-right-top,
  .main .content-side .site-sliders .owl-right-bottom {
    position: relative;
    display: flex;
    align-items: center; }
    .main .content-side .site-sliders .owl-main .slider-item .slider-caption,
    .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption,
    .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 20px;
      text-align: left;
      z-index: 2; }
      .main .content-side .site-sliders .owl-main .slider-item .slider-caption .slider-time,
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-time,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-time {
        color: #eeeeee !important;
        font-size: 0.8rem;
        font-weight: 500; }
      .main .content-side .site-sliders .owl-main .slider-item .slider-caption .slider-title,
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-title,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-title {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        z-index: 3; }
        .main .content-side .site-sliders .owl-main .slider-item .slider-caption .slider-title p,
        .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-title p,
        .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-title p {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0;
          padding: 0;
          line-height: 2.1rem; }
      .main .content-side .site-sliders .owl-main .slider-item .slider-caption .caption-link,
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .caption-link,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .caption-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        top: 0;
        left: 0; }
    .main .content-side .site-sliders .owl-main .slider-item::after,
    .main .content-side .site-sliders .owl-right-top .slider-item::after,
    .main .content-side .site-sliders .owl-right-bottom .slider-item::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, #32325d 0%, rgba(10, 10, 10, 0) 70%);
      z-index: 1; }
  .main .content-side .site-sliders .owl-main .owl-nav {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0rem 0.5rem; }
    .main .content-side .site-sliders .owl-main .owl-nav button {
      position: relative !important;
      outline: none;
      background-color: #dc3545;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: flex-start;
      transition: all 0.3s ease; }
      .main .content-side .site-sliders .owl-main .owl-nav button span {
        display: block;
        width: 100%;
        height: auto;
        font-size: 2rem;
        color: #ffffff; }
      .main .content-side .site-sliders .owl-main .owl-nav button:hover {
        background-color: #32325d; }
  .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption,
  .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
    text-align: left;
    z-index: 2; }
    .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-time,
    .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-time {
      font-size: 0.6rem;
      font-weight: 300; }
    .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-title,
    .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-title {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0;
      padding: 0;
      z-index: 3; }
      .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .slider-title p,
      .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .slider-title p {
        color: #fff;
        font-size: 1.7rem;
        font-weight: 700;
        margin: 0;
        padding: 0; }
    .main .content-side .site-sliders .owl-right-top .slider-item .slider-caption .caption-link,
    .main .content-side .site-sliders .owl-right-bottom .slider-item .slider-caption .caption-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0; }
  .main .content-side .post-block-title {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.3s ease; }
    .main .content-side .post-block-title:hover {
      color: #dc3545 !important;
      background-color: #ffffff !important; }
  .main .content-side .post {
    border-radius: 10px; }
    .main .content-side .post .post-header .post-img {
      transition: all 0.3s ease;
      transform: scale(1); }
    .main .content-side .post:hover .post-img {
      transform: scale(1.1); }
    .main .content-side .post p {
      font-weight: normal;
      font-size: 1.1rem; }
  .main .content-side .publications {
    position: relative;
    display: flex;
    align-items: center; }
    .main .content-side .publications .publication-item {
      height: 300px;
      position: relative; }
      .main .content-side .publications .publication-item .publication-img {
        height: 300px; }
    .main .content-side .publications .owl-nav {
      position: absolute;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      padding: 0rem 0.5rem; }
      .main .content-side .publications .owl-nav button {
        position: relative !important;
        outline: none;
        background-color: #dc3545;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        transition: all 0.3s ease; }
        .main .content-side .publications .owl-nav button span {
          display: block;
          width: 100%;
          height: auto;
          font-size: 1.5rem;
          color: #ffffff; }
        .main .content-side .publications .owl-nav button:hover {
          background-color: #32325d !important; }
  .main .content-side .post-title h2 p {
    font-size: 2.25rem; }
  .main .content-side .page-name {
    font-size: 2rem; }
  .main .content-side .post-details p {
    font-size: 1.2rem; }
  .main .right-side .owl-elections .slider-item .slider-caption {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: left;
    z-index: 2; }
    .main .right-side .owl-elections .slider-item .slider-caption .slider-time {
      font-size: 0.7rem;
      font-weight: 500; }
    .main .right-side .owl-elections .slider-item .slider-caption .slider-title {
      color: #fff;
      font-size: .9rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
      z-index: 3; }
      .main .right-side .owl-elections .slider-item .slider-caption .slider-title p {
        color: #fff;
        font-size: .85rem;
        font-weight: 500;
        margin: 0;
        padding: 0; }
    .main .right-side .owl-elections .slider-item .slider-caption .caption-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0; }
  .main .right-side .owl-elections .slider-item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #32325d 0%, rgba(10, 10, 10, 0) 50%);
    z-index: 1; }
  .main .right-side .owl-elections .announcements-container {
    position: relative;
    background-color: #32325d;
    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 1; }
  .main .right-side .owl-elections .img-wrapper {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1; }
  .main .right-side .owl-elections .text-wrapper {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 20px; }
  .main .right-side .owl-elections .announcements-container:hover .img-wrapper {
    opacity: 0.2; }
  .main .right-side .owl-elections .announcements-container:hover .text-wrapper {
    opacity: 1; }
  .main .right-side .owl-elections .announcement-text {
    position: relative;
    color: white;
    font-size: .9rem;
    text-align: center; }
  .main .right-side .owl-elections .project-link {
    color: #fff; }
  .main .right-side .owl-elections .owl-dots {
    position: absolute;
    right: 0;
    top: 0; }
    .main .right-side .owl-elections .owl-dots button {
      outline: none; }
      .main .right-side .owl-elections .owl-dots button span {
        background-color: #32325d !important; }
  .main .right-side .council-election .slider-caption {
    width: 100%;
    height: 100%; }
  .main .right-side .latest-posts {
    border-radius: 10px; }
    .main .right-side .latest-posts .latest-post-list {
      height: 62.5rem;
      top: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
      overflow: scroll;
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      overflow: hidden scroll; }
    .main .right-side .latest-posts .latest-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ccc;
      color: black;
      transition: background-color 0.3s ease; }
      .main .right-side .latest-posts .latest-item:last-child {
        border-bottom: none; }
      .main .right-side .latest-posts .latest-item .latest-title p {
        font-size: 1rem; }
      .main .right-side .latest-posts .latest-item .latest-date {
        font-size: .75rem;
        color: darkslategrey;
        font-weight: 600;
        padding: 5px 0rem; }
  .main .post-block-title {
    font-size: 1.5rem;
    transition: all 0.3s ease; }
    .main .post-block-title:hover {
      color: #dc3545 !important;
      background-color: #ffffff !important; } }
