/*!
 * @company Smartcode.llc
 * @website-url http://smartcode.az/
 */*{margin:0;padding:0;box-sizing:border-box}body{background-color:blue}@media (min-width: 768px){body{background-color:red}}@media (min-width: 576px){body{background-color:white}}.MainNav{background:grey}.SecondNav{background-color:#0888FF !important;color:white}.hover a:hover{background-color:#4ea5f7}.hover a{font-size:1.1rem !important;font-weight:700 !important}
